{{ attach_library('nimbus_theme/social-menu') }}

{% embed '@nimbus_theme/menu/menu.twig' with {
  items: items,
  modifier: 'site-footer__social'
} %}
  {% block menu_item %}
    <a href="{{ item.url }}" class="site-footer__social-icon">
      {% if item.title == 'Instagram' %}
        <svg aria-hidden="true" class="icon icon--instagram" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 216 216">
          <path d="M144.2,209.8c-24,0-48.1,0-72.1,0c-2.9-0.2-5.8-0.6-8.7-0.7c-31.9-1.6-52.4-20.6-56.1-52.2c-0.5-4.4-0.8-8.7-1.2-13.1
            c0-24,0-48.1,0-72.1c0.2-2.7,0.5-5.4,0.7-8.1C7.8,49.3,11.4,36,21.2,24.9c11.2-12.6,25.8-18,42.1-18.3c29.9-0.5,59.8-0.5,89.7,0
            c14.2,0.2,27.4,4.6,38.3,14.5c12.4,11.2,17.8,25.8,18,41.9c0.5,29.9,0.8,59.8,0,89.7c-0.9,31.9-20.4,52.2-51.9,56
            C153,209.1,148.6,209.4,144.2,209.8z M108.4,190.7C108.4,190.7,108.4,190.7,108.4,190.7c14.4,0,28.8,0,43.1-0.1
            c1.8,0,3.6-0.3,5.4-0.6c17.5-2.2,28.9-12.1,32.6-28.5c1-4.3,1.5-8.7,1.6-13.1c0.3-20.2,0.6-40.3,0.6-60.5c0-9.7-0.3-19.5-1.3-29.2
            c-1.9-18.2-12.6-29.9-30.6-32.7c-10-1.6-20.3-1.8-30.5-1.8c-21.3-0.1-42.6-0.1-63.9,0.6C40,25.7,26.5,39.5,25.3,65
            c-0.4,7.2-0.7,14.5-0.6,21.7c0.1,21.3,0,42.6,0.7,63.9c0.9,25.3,14.6,39,39.9,40C79.7,191.1,94.1,190.7,108.4,190.7z"/>
          <path d="M108.2,160.1c-29.1,0-52.4-23.3-52.4-52.5c0-28.9,23.4-52.2,52.3-52.3c29.1,0,52.4,23.3,52.4,52.5
            C160.6,136.8,137.2,160.1,108.2,160.1z M142.2,107.7c0-18.7-15.3-33.9-33.9-34c-18.7,0-34,15.2-34.1,33.8
            c-0.1,18.8,15.3,34.2,34.1,34.1C127,141.7,142.2,126.4,142.2,107.7z"/>
          <path d="M174.9,53.5c-0.1,6.8-5.7,12.2-12.5,12.1c-6.7-0.1-12-5.6-12-12.3c0-6.8,5.5-12.3,12.4-12.2
            C169.6,41.1,175,46.6,174.9,53.5z"/>
        </svg>
      {% elseif item.title == 'LinkedIn' %}
        <svg aria-hidden="true" class="icon icon--linkedin" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 216 216">
          <path d="M5.6,30c0.3-1.3,0.6-2.6,1-3.9c2.1-6.6,6.3-11.3,12.8-13.8c9-3.4,18-3.3,26.2,2.3c7.6,5.2,10.3,13,9.1,21.9
            c-1.2,8.6-6.2,14.6-14.4,17.5c-8.8,3.1-17.5,2.7-25.5-2.7c-5-3.4-7.9-8.4-8.9-14.4c-0.1-0.4-0.2-0.7-0.3-1.1
            C5.6,33.9,5.6,32,5.6,30z"/>
          <path d="M76.5,205.9c0-44.1,0-88,0-132.1c0.7,0,1.2,0,1.8,0c13.3,0,26.7,0,40,0c1.7,0,2.1,0.5,2,2.1c-0.1,5.3,0,10.6,0.3,16.1
            c0.5-0.7,0.9-1.3,1.4-2c6.7-9.4,15.3-16,26.9-18.1c13.7-2.5,26.8-1,38.8,6.5c6.3,4,11.1,9.4,14.7,15.9c5.6,10.1,7.7,21.1,7.9,32.5
            c0.2,12.6,0.1,25.2,0.1,37.9c0,13,0,26,0,39c0,0.6,0,1.3,0,2.1c-0.7,0-1.2,0.1-1.8,0.1c-13.4,0-26.8,0-40.1,0c-1.5,0-2-0.4-2-2
            c0.1-22.5,0-45.1,0-67.6c0-6-0.5-11.9-2.5-17.6c-3.4-9.2-11.3-13.9-21.1-13.3c-11.3,0.7-19.3,9-21.6,18c-0.8,3.2-0.9,6.7-0.9,10
            c-0.1,23.5,0,46.9,0,70.4c0,2.1,0,2.1-2.1,2.1c-13.3,0-26.5,0-39.8,0C77.8,205.9,77.2,205.9,76.5,205.9z"/>
          <path d="M52.1,140c0,21.3,0,42.6,0,63.9c0,1.6-0.3,2.1-2,2.1c-13.3-0.1-26.7-0.1-40,0c-1.5,0-1.9-0.4-1.9-1.9
            c0-42.8,0-85.6,0-128.4c0-1.4,0.4-1.8,1.8-1.8c13.4,0.1,26.9,0.1,40.3,0c1.4,0,1.8,0.4,1.8,1.8C52.1,97.1,52.1,118.5,52.1,140z"/>
        </svg>
      {% elseif item.title == 'Pinterest' %}
        <svg aria-hidden="true" class="icon icon--pinterest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M17.143 10q0 2.333-1.15 4.302t-3.119 3.119-4.302 1.15q-1.239 0-2.433-.357.658-1.038.871-1.83.1-.379.603-2.355.223.435.815.753T9.7 15.1q1.35 0 2.411-.765t1.641-2.104.58-3.013q0-1.272-.664-2.388t-1.925-1.819-2.846-.703q-1.172 0-2.188.324t-1.724.859-1.217 1.233-.748 1.445-.24 1.496q0 1.161.446 2.042t1.306 1.239q.335.134.424-.223.022-.078.089-.346t.089-.335q.067-.257-.123-.48-.569-.681-.569-1.685 0-1.685 1.166-2.896T8.66 5.77q1.685 0 2.628.915t.943 2.377q0 1.897-.765 3.225t-1.959 1.328q-.681 0-1.094-.485t-.257-1.166q.089-.391.296-1.044t.335-1.15.128-.843q0-.558-.301-.926t-.859-.368q-.692 0-1.172.636t-.48 1.585q0 .815.279 1.362l-1.105 4.665q-.19.781-.145 1.975-2.299-1.016-3.717-3.136T-.002 9.999q0-2.333 1.15-4.302t3.119-3.119 4.302-1.15 4.302 1.15 3.119 3.119 1.15 4.302z"/></svg>
      {% elseif item.title == 'Twitter' %}
        <svg aria-hidden="true" class="icon icon--twitter" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20"><path d="M18.08 4.554q-.748 1.094-1.808 1.864.011.156.011.469 0 1.451-.424 2.896t-1.289 2.773-2.059 2.349-2.879 1.629-3.605.608q-3.025 0-5.536-1.618.391.045.871.045 2.511 0 4.475-1.54-1.172-.022-2.098-.72t-1.272-1.78q.368.056.681.056.48 0 .949-.123-1.25-.257-2.07-1.244t-.82-2.294v-.045q.759.424 1.629.458-.737-.491-1.172-1.283t-.435-1.719q0-.982.491-1.819 1.35 1.663 3.287 2.662t4.146 1.11q-.089-.424-.089-.826 0-1.496 1.055-2.55t2.55-1.055q1.563 0 2.634 1.138 1.217-.234 2.288-.871-.413 1.283-1.585 1.987 1.038-.112 2.076-.558z"/></svg>
      {% elseif item.title == 'YouTube' %}
        <svg aria-hidden="true" class="icon icon--youtube" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M10.837 13.884v2.355q0 .748-.435.748-.257 0-.502-.246v-3.359q.246-.246.502-.246.435 0 .435.748zm3.772.011v.513h-1.004v-.513q0-.759.502-.759t.502.759zM3.828 11.462h1.194v-1.049H1.54v1.049h1.172v6.35h1.116v-6.35zm3.214 6.351h.993V12.3h-.993v4.219q-.335.469-.636.469-.201 0-.234-.234-.011-.033-.011-.391V12.3h-.993v4.364q0 .547.089.815.134.413.647.413.536 0 1.138-.681v.603zm4.788-1.652v-2.199q0-.815-.1-1.105-.19-.625-.792-.625-.558 0-1.038.603v-2.422h-.993v7.4H9.9v-.536q.502.614 1.038.614.603 0 .792-.614.1-.301.1-1.116zm3.773-.112v-.145h-1.016q0 .569-.022.681-.078.402-.446.402-.513 0-.513-.77v-.971h1.998v-1.15q0-.882-.301-1.295-.435-.569-1.183-.569-.759 0-1.194.569-.313.413-.313 1.295v1.931q0 .882.324 1.295.435.569 1.205.569.804 0 1.205-.592.201-.301.234-.603.022-.1.022-.647zM8.817 5.859V3.515q0-.77-.48-.77t-.48.77v2.344q0 .781.48.781t.48-.781zm8.025 8.382q0 2.612-.29 3.906-.156.658-.647 1.105t-1.138.513q-2.054.234-6.194.234t-6.194-.234q-.647-.067-1.144-.513t-.642-1.105q-.29-1.25-.29-3.906 0-2.612.29-3.906.156-.658.647-1.105t1.15-.525q2.042-.223 6.183-.223t6.194.223q.647.078 1.144.525t.642 1.105q.29 1.25.29 3.906zM5.703 0h1.138l-1.35 4.453v3.025H4.375V4.453q-.156-.826-.681-2.366Q3.281.937 2.969 0h1.183l.792 2.935zm4.13 3.717V5.67q0 .904-.313 1.317-.413.569-1.183.569-.748 0-1.172-.569-.313-.424-.313-1.317V3.717q0-.893.313-1.306.424-.569 1.172-.569.77 0 1.183.569.313.413.313 1.306zm3.738-1.809v5.569h-1.016v-.614q-.592.692-1.15.692-.513 0-.658-.413-.089-.268-.089-.837V1.908h1.016v4.096q0 .368.011.391.033.246.234.246.301 0 .636-.48V1.909h1.016z"/></svg>
      {% elseif item.title == 'Facebook' %}
        <svg aria-hidden="true" class="icon icon--facebook" xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><path d="M10.703.134V3.08H8.951q-.96 0-1.295.402t-.335 1.205v2.109h3.27l-.435 3.304H7.321v8.471H3.906V10.1H1.06V6.796h2.846V4.363q0-2.076 1.161-3.22T8.159-.001q1.641 0 2.545.134z"/></svg>
      {% endif %}
    </a>
  {% endblock %}
{% endembed %}
