{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}

  {{ attach_library('nimbus_theme/site-branding') }}

  {%
    set classes = [
      'site-branding',
    ]
  %}

  <section {{ attributes.addClass(classes) }}>
      {% if site_logo %}
        <a href="{{ path('<front>') }}" rel="home" class="site-logo">
          {% if site_logo_svg %}
            {{ site_logo_svg|raw }}
          {% else %}
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="site-logo"/>
          {% endif %}
        </a>
      {% endif %}
  </section>

{% endblock %}
