{{ attach_library('nimbus_theme/event-teaser') }}

{%
  set classes = [
    'event-teaser'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {% if image  %}
    <div class="event-teaser__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="event-teaser__content">
    <div class="event-teaser__info">
      {%
        include '@nimbus_theme/event-date-tiles/event-date-tiles.twig' with {
          start_date: {
            day: start_date.day,
            month: start_date.month,
            year: start_date.year,
            time: start_date.time,
          },
          end_date: {
            day: end_date.day,
            month: end_date.month,
            year: end_date.year,
            time: end_date.time,
          }
        } only
      %}
      <div class="event-teaser__item">
        <a class="event-teaser__title" href="{{ link }}">
          {%
            include '@rain_theme/heading/heading.twig' with {
              heading: {
                title: title,
                heading_level: heading_level|default('3'),
                attributes: title_attributes,
              }
            }
          %}
        </a>
        <div class="event-teaser__times">
          <span> When: </span> {{ start_date.time }} {% if end_date.time != start_date.time %} - {{ end_date.time }} {% endif %}
        </div>
      </div>
    </div>
    {% if summary  %}
      <div class="event-teaser__item event-teaser__summary">
        {{ summary|raw }}
      </div>
    {% endif %}
    {% if link %}
      <a class="event-teaser__link" href="{{ link }}"> Read more <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewbox="0 0 8 16"><path d="M5.33 8l-5 5.63a1.52 1.52 0 000 2 1.13 1.13 0 001.74 0l5.57-6.31A1.52 1.52 0 008 8a1.52 1.52 0 00-.32-1.32L2.09.41a1.13 1.13 0 00-1.73 0 1.52 1.52 0 000 2z" /></svg></a>
    {% endif %}
  </div>
</div>
