// Import site utilities.
@import '../../global/utils/init';

.teaser {
  display: flex;
  margin-bottom: 30px;

  @include breakpoint($bp-under-sm) {
    flex-direction: column;
  }
}

.teaser__image {
  flex-basis: 33%;

  img {
    width: 100%;
  }
}

.teaser__content {
  flex: 1;
  margin-top: 30px;

  @include breakpoint($bp-sm) {
    margin: 0 30px;
  }
}

.teaser__date {
  margin-bottom: 15px;
}

.teaser__summary {
  margin-bottom: 15px;
}

.teaser__link {

  svg {
    fill: $color-link-black;
  }
}


.related_products_block_1__wrapper {
  
  .heading--section {
    padding: 0 1.5rem;
  }
}
