{{ attach_library('nimbus_theme/teaser') }}

{%
  set classes = [
    'teaser'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {% if image  %}
    <div class="teaser__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="teaser__content">
    {%
      include '@nimbus_theme/heading/heading.twig' with {
        "heading": {
          "title": title,
          "heading_level": "2",
          "url": link,
          "modifier": "teaser__title",
        }
      } only
    %}
    <div class="teaser__date">
      {{ authored_date }}
    </div>
    {% if summary  %}
      <div class="teaser__summary">
        {{ summary|raw }}
      </div>
    {% endif %}
    {% if link %}
      <a class="teaser__link" href="{{ link }}"> Read more <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewbox="0 0 8 16"><path d="M5.33 8l-5 5.63a1.52 1.52 0 000 2 1.13 1.13 0 001.74 0l5.57-6.31A1.52 1.52 0 008 8a1.52 1.52 0 00-.32-1.32L2.09.41a1.13 1.13 0 00-1.73 0 1.52 1.52 0 000 2z" /></svg></a>
    {% endif %}
  </div>
</div>
