{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - view_id: The view object id.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('nimbus_theme/l-2x') }}
{{ attach_library('nimbus_theme/related-products') }}

{% set is_recent_content = view_id == 'recent_content_by_type' ? true : false %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="l-2x">
  <div class="
    l-container
    {%if is_recent_content or recent_post_type == 'event' %}{{ recent_post_type }}-card__carousel{% endif %}
  ">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div class="l-2x__item">
        <div{{ row.attributes.addClass(row_classes) }}>
          {{- row.content -}}
        </div>
      </div>
    {% endfor %}
  </div>
  {%if is_recent_content or recent_post_type == 'event' %}
    <div class="{{ recent_post_type }}-card__navigation">
      <button type="button" class="{{ recent_post_type }}-card__arrow arrow-left">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="23px" height="28px" viewBox="0 0 23 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>E1B605FA-7809-4DF2-8B38-C25521D77D58@3x</title>
            <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rain-Generic-Mobile" transform="translate(-23.000000, -4685.000000)">
                    <g id="Group-17" transform="translate(23.000000, 4318.000000)">
                        <g id="Group-2" transform="translate(0.000000, 367.348921)">
                            <g id="Triangle" transform="translate(0.040767, -0.002398)">
                                <polygon fill="#000000" transform="translate(8.459233, 14.000000) rotate(-90.000000) translate(-8.459233, -14.000000) " points="8.45923261 6 21.9184652 22 -5 22"></polygon>
                                <polygon fill="#FFFFFF" transform="translate(14.459233, 14.000000) rotate(-90.000000) translate(-14.459233, -14.000000) " points="14.4592326 6 27.9184652 22 1 22"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </button>
      <button type="button" class="{{ recent_post_type }}-card__arrow arrow-right">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="23px" height="28px" viewBox="0 0 23 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>0897BBEF-F6A4-47AB-A303-BEEF26422CAE@3x</title>
            <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rain-Generic-Mobile" transform="translate(-330.000000, -4685.000000)">
                    <g id="Group-17" transform="translate(23.000000, 4318.000000)">
                        <g id="Group-11" transform="translate(306.000000, 0.000000)">
                            <g id="Group-2" transform="translate(12.000000, 381.348921) scale(-1, 1) translate(-12.000000, -381.348921) translate(0.000000, 367.348921)">
                                <g id="Triangle" transform="translate(0.040767, -0.002398)">
                                    <polygon fill="#000000" transform="translate(8.459233, 14.000000) rotate(-90.000000) translate(-8.459233, -14.000000) " points="8.45923261 6 21.9184652 22 -5 22"></polygon>
                                    <polygon fill="#FFFFFF" transform="translate(14.459233, 14.000000) rotate(-90.000000) translate(-14.459233, -14.000000) " points="14.4592326 6 27.9184652 22 1 22"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </button>
    </div>
  {% endif %}
</div>
