@import '../../global/utils/init';

.heading--section {
  font-family: 'Muli-Black', sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0;
  color: $color-text-black;
  // padding: 0 1.5rem;
}
