{{ attach_library('nimbus_theme/pager') }}

{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items">

      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="pager__control" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev">
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true"><svg width="8" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M6.35514286 11.7497873c.40342856 0 .80714286-.1330213 1.12257142-.4005958.65200004-.5540426.67800004-1.47574472.05828572-2.05863827L3.89085714 5.86468086 7.53228572 2.4625532C8.15428568 1.88170213 8.13142856.96 7.48114286.4039149c-.65057144-.5560851-1.68171428-.53540426-2.30371428.04570212L.46171428 4.85463829C-.13942856 5.41634042-.14057145 6.30102126.458 6.86451063l4.71542858 4.43259577c.32085714.3005107.7502857.4526809 1.18171428.4526809z" fill="#000" fill-rule="nonzero"/></svg></span>
          </a>
        </li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% block pager_items %}
        {% for key, item in items.pages %}
          <li class="pager__item{{ current == loop.index ? ' is-active' : '' }}">
            {% if current == loop.index %}
              {% set title = 'Current page'|t %}
            {% else %}
              {% set title = 'Go to page @key'|t({'@key': key}) %}
            {% endif %}
            <a href="{{ item.href }}" title="{{ title }}" class="pager__control {{ item.attributes.class }}">
              <span class="visually-hidden">
                {{ current == loop.index ? 'Current page'|t : 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          </li>
        {% endfor %}
      {% endblock %}

      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a class="pager__control" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true"><svg width="8" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1.62919184 11.7497872c-.3995864 0-.7994558-.1330212-1.11188027-.4005957-.64579048-.5540426-.67154286-1.47574473-.05773062-2.05863827l3.61042721-3.42587237-3.6067483-3.40212767C-.15281633 1.88170213-.13017688.96.51391565.40391489c.64437551-.5560851 1.66569796-.53540425 2.28177414.04570214L7.46649253 4.8546383c.59541763.56170213.59654963 1.44638296.0036789 2.00987234L2.7996517 11.2971064c-.31780136.3005106-.74314013.4526808-1.17045986.4526808z" fill="#000" fill-rule="nonzero"/></svg></span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
