{{ attach_library('nimbus_theme/gallery-carousel') }}

{% if section_title %}
  {%
    include '@nimbus_theme/heading/heading.twig' with {
      "heading": {
        "title": section_title,
        "heading_level": 2,
        "modifier": "heading--section gallery-carousel__title"
      }
    } only
  %}
{% endif %}

{% if intro_text %}
  {%
    include '@nimbus_theme/body-text/body-text.twig' with {
      "body_text": intro_text,
      "modifier": "gallery-carousel__intro-text"
    } only
  %}
{% endif %}

<div class="gallery-carousel__main">
  <ul class="gallery-carousel{{ attributes ? ' ' ~ attributes.class}}">

    {% for item in carousel_items %}
      <li class="gallery-carousel-item">
        <img src="{{ item.media }}" class="gallery-carousel-item__media" alt="{{ item.media_description }}"/>
        {% if item.media_description %}
          <p class="gallery-carousel-item__text">{{ item.media_description }}</p>
        {% endif %}
      </li>
    {% endfor %}

  </ul>

  <div class="gallery-carousel__navigation">
    <button type="button" class="gallery-carousel__arrow arrow-left">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="23px" height="28px" viewBox="0 0 23 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>E1B605FA-7809-4DF2-8B38-C25521D77D58@3x</title>
          <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Rain-Generic-Mobile" transform="translate(-23.000000, -4685.000000)">
                  <g id="Group-17" transform="translate(23.000000, 4318.000000)">
                      <g id="Group-2" transform="translate(0.000000, 367.348921)">
                          <g id="Triangle" transform="translate(0.040767, -0.002398)">
                              <polygon fill="#000000" transform="translate(8.459233, 14.000000) rotate(-90.000000) translate(-8.459233, -14.000000) " points="8.45923261 6 21.9184652 22 -5 22"></polygon>
                              <polygon fill="#FFFFFF" transform="translate(14.459233, 14.000000) rotate(-90.000000) translate(-14.459233, -14.000000) " points="14.4592326 6 27.9184652 22 1 22"></polygon>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </button>
    <button type="button" class="gallery-carousel__arrow arrow-right">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="23px" height="28px" viewBox="0 0 23 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>0897BBEF-F6A4-47AB-A303-BEEF26422CAE@3x</title>
          <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Rain-Generic-Mobile" transform="translate(-330.000000, -4685.000000)">
                  <g id="Group-17" transform="translate(23.000000, 4318.000000)">
                      <g id="Group-11" transform="translate(306.000000, 0.000000)">
                          <g id="Group-2" transform="translate(12.000000, 381.348921) scale(-1, 1) translate(-12.000000, -381.348921) translate(0.000000, 367.348921)">
                              <g id="Triangle" transform="translate(0.040767, -0.002398)">
                                  <polygon fill="#000000" transform="translate(8.459233, 14.000000) rotate(-90.000000) translate(-8.459233, -14.000000) " points="8.45923261 6 21.9184652 22 -5 22"></polygon>
                                  <polygon fill="#FFFFFF" transform="translate(14.459233, 14.000000) rotate(-90.000000) translate(-14.459233, -14.000000) " points="14.4592326 6 27.9184652 22 1 22"></polygon>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </button>
  </div>
</div>

<ul class="gallery-carousel__nav">

  {% for item in carousel_nav_items %}
    <li class="gallery-carousel__nav-item">
     <img src="{{ item.media_thumb }}" alt="{{ item.media_thumb_description }}"/>
    </li>
  {% endfor %}

</ul>
