{#
/**
 * @file
 * Theme override to display a login icon.
 */
#}

<a href="/user" class="user__login-btn">
  <span class="user__icon">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>E6E383D7-EAE5-4424-8ADC-0E237B95895D@3x</title>
        <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Rain-Generic-Desktop" transform="translate(-1767.000000, -39.000000)" stroke="#FFFFFF">
                <g id="Group-11" transform="translate(1768.000000, 40.000000)">
                    <circle id="Oval" cx="24" cy="24" r="24"></circle>
                    <g id="Group-10" transform="translate(14.000000, 12.000000)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M4.77060606,5.56818196 C4.77060606,7.55750174 5.83189548,9.39570904 7.55469695,10.3903689 C9.27749841,11.3850288 11.4000773,11.3850288 13.1228788,10.3903689 C14.8456803,9.39570904 15.9069697,7.55750174 15.9069697,5.56818196 C15.9069697,3.57886217 14.8456803,1.74065485 13.1228788,0.745994935 C11.4000774,-0.248664978 9.2774984,-0.248664978 7.55469693,0.745994935 C5.83189546,1.74065485 4.77060606,3.57886217 4.77060606,5.56818196 Z" id="Path"></path>
                        <path d="M5.55651515,2.7575759 C7.29786515,4.55531561 9.69413811,5.56955029 12.1969697,5.56818657 C13.446999,5.56943076 14.6842664,5.31685357 15.8337879,4.82575772" id="Path"></path>
                        <path d="M-7.81597009e-14,23.8636365 C-7.81597009e-14,18.1525102 4.62978279,13.5227276 10.3409091,13.5227276 C16.0520354,13.5227276 20.6818182,18.1525102 20.6818182,23.8636365" id="Path"></path>
                        <polyline id="Path" points="13.5206061 23.8636365 10.3387879 13.5227274 7.68939394 23.8636365"></polyline>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </span>
</a>
<button type="button" class="search__toggle">
  <span class="search__icon">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>37283ABC-4D4F-4C58-AF28-F2601B68DCC5@3x</title>
        <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Rain-Generic-Desktop" transform="translate(-1839.000000, -39.000000)" stroke="#FFFFFF">
                <g id="Group-2" transform="translate(1840.000000, 40.000000)">
                    <circle id="Oval-Copy" cx="24" cy="24" r="24"></circle>
                    <path d="M16.0821451,21.7830707 C16.0821451,24.9339529 18.6364397,27.4882475 21.7873218,27.4882475 C24.938204,27.4882475 27.4924986,24.9339529 27.4924986,21.7830707 C27.4924986,18.6321886 24.938204,16.077894 21.7873218,16.077894 C18.6364397,16.077894 16.0821451,18.6321886 16.0821451,21.7830707 Z" id="Path" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M29.9926564,27.1070922 L36.2690138,33.3812399 C37.0649714,34.1775027 37.0647241,35.4682525 36.2684613,36.2642102 C35.4721985,37.0601679 34.1814488,37.0599206 33.385491,36.2636579 L27.1102385,29.9884053 L27.1102385,29.9884053 C22.9110771,32.7146406 17.3312974,31.8306384 14.1804532,27.9399449 C11.0296091,24.0492514 11.3246359,18.4075884 14.8641064,14.8667603 C18.4035768,11.3259321 24.0451262,11.0287417 27.9370279,14.1780935 C31.8289295,17.3274453 32.7150715,22.9068856 29.9904468,27.1070922 L29.9926564,27.1070922 Z" id="Path" stroke-width="2" stroke-linejoin="round"></path>
                </g>
            </g>
        </g>
    </svg>
  </span>
</button>
