{#
/**
 * @file
 * Theme override for the "teaser" view mode.
 */
#}
{%
  include '@nimbus_theme/teaser/teaser.twig' with {
    title: label,
    summary: content.field_summary,
    link: url,
    image: content.field_thumbnail,
    authored_date: content.field_dates,
  } only
%}
