{{ attach_library('nimbus_theme/button') }}

{% if button.url %}
  <a href="{{ button.url }}" class="btn{{ button.modifier ? ' ' ~ button.modifier }}">{{ button.text }}</a>
{% else %}
  <button class="btn{{ button.modifier ? ' ' ~ button.modifier }}">{{ button.text }}</button>
{% endif %}
