// Buttons
//
// This is the button component. It provides basic styles for buttons throughout the site.

// Import site utilities.
@import '../../global/utils/init';

.btn__container {
  margin-top: 30px;
}

.btn,
input[type='submit'] {
  background-color: $color-blue;
  border: 2px solid $color-blue;
  color: $color-white;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }

  @include breakpoint($bp-sm) {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  &.btn--small {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
