@import '../../global/utils/init';

.utility-nav {
  background: transparent;
  display: none;

  @include breakpoint($bp-sm) {
    display: flex;
  }

  .container {
    display: flex;
    max-width: 100%;
  }
}

.user__login-btn,
.search__toggle {
  border: 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: transparent;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  @include breakpoint($bp-md) {
    margin-top: 14px;
    height: 40px;
    width: 40px;
  }

  span {
    height: 100%;
  }

  svg {
    fill: $color-white;
    width: 100%;
    height: auto;
  }
}

.user__login-btn {
  @include breakpoint($bp-under-sm) {
    margin-left: 0;
  }
}

.account-nav-active {
  display: flex;
}
